{% extends "base_generic.html" %}

{% block content %}
    <nav class="mt-3" style="--bs-breadcrumb-divider: '>'; position:relative;" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><strong></strong></a></li>
        <li class="breadcrumb-item active display-6 text-dark" aria-current="page"><strong>All Products</strong></li>
      </ol>
      <form style="position: absolute; top: 10%; right: 5%;" class="d-flex justify-content-start">
          <select class="form-select" name="order_by" id="order_by">
              <option {% if selected == 'price' %} selected {% endif %} value="price">Price ascending</option>
              <option {% if selected == '-price' %} selected {% endif %} value="-price">Price descending</option>
          </select>
          <input type="submit" value="Sort" class="btn btn-primary ms-2" />
      </form>
    </nav>
    <div class="container mt-3 d-flex flex-wrap justify-content-between">
        {% for p in products %}
        <div class="card rounded-bottom mt-3 mb-3" style="width: 22%;">
          <img src="{{ p.image_url }}" class="card-img-top mb-1" alt="{{ p.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ p.manufacturer }} {{ p.name }}</h5>
            <p class="card-text">{{ p.price }}$</p>
            {% if user.is_authenticated %}
            <a href="{% url 'add_to_cart' product_id=p.id %}" class="btn btn-primary">Add to cart</a>
            <a href="{% url 'product_details' product_id=p.id %}" class="btn btn-secondary ms-3">View details</a>
            {% endif %}
          </div>
        </div>
        {% empty %}
        <p>No products available at the moment...</p>
        {% endfor %}
    </div>
{% endblock %}